<footer class="text-gray-100 body-font bg-gray-700">
  <div
    class="container px-5 py-2 mx-auto flex items-center sm:flex-row flex-col"
  >
    <a
      class="flex title-font font-medium items-center md:justify-start justify-center text-gray-100"
    >
      <span class="ml-3 text-xl">Admin M IT</span>
    </a>
    <p
      class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
    >
      © 2020 M IT Informatic Coding
    </p>
    <span
      class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
    >
    </span>
  </div>
</footer>
